.work {
  display: flex;
}

.work__content {
  /* display: flex;*/
  background-color: blueviolet;
  width: 500px;
  justify-content: center;
  padding: 10px 0 10px 0;
  margin-left: 25px;
  border: red dotted 5pt;
}

.work__title {
  border-right: black solid 10pt;
  padding: 0 25px 0 25px;
}

.work__github {
  width: 450px;
  background-color: aqua;
  margin: 25px;
}

.work__image {
  width: 100%;
  z-index: 1;
}

.work__github_title {
  z-index: 2;
  color: red;
  font-weight: 200;
}

.work__github_image-text {
  margin: 10px 0 25px 0;
  height: 300px;
  position: relative;
}

.bigbox__image-text {
  left: 25px;
  bottom: 25px;
}

.work__examples {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  /* justify-content: space-around; */
  max-width: 1120px;
}

.work__example {
  width: 200px;
  background-color: orange;
  margin: 10px 25px 10px 25px;
}

.box2 {
  color: red;
}

.box3 {
  color: darkblue;
}
.box2 {
  color: cyan;
}
.box2 {
  color: green;
}
