* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: slategray; */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    background-color: #13293d;
    color: #fff;
    position:absolute;
}

.text_box{
    bottom: 20px;
    right: 20px;
    background-color: teal;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}


nav ul {
    float: right;
    margin-right: 20px;
    padding-top: 15px;
    list-style: none;
}

nav ul li{
    float: right;
    margin-right: 20px;
    padding-top: 15px;
    list-style: none;
}

nav a {
    font-size: 20px;
    display: inline;
    color: teal;
    font-weight: thick;
    margin-left: 20px;
    text-decoration: underline;
}

.Hokage {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/Acidburn.png");
    background-size: cover;
    background-position: center;
}

 .section__title{ 
    font-size: 25px;
    color: black;
    margin: 0px 20px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.abouts {
    margin: 0px 150px;
    border-left: 15px solid black;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

 .container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    /* Margin: 20px; */
  }

.hover {
    position: relative;
    text-align: center;
    Color: Red; 
  }

.image {
    /* opacity: 0.56; */
    width: auto; 
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.work:hover .hover {
    opacity: 0.3s;
}

.work:hover .middle {
    opacity: 1;
}



  /*.work__content {
     display: flex;
    background-color: blueviolet;
    width: 500px;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-left: 25px;
    border: red dotted 5pt;
    transition: 0.3s;
  }

  .work__title {
    border-right: black solid 10pt;
    padding: 0 25px 0 25px;
  }

  .work__github {
    width: 450px;
    background-color: aqua;
    margin: 25px;
  }

  .work__github_title {
    z-index: 2;
    color: red;
    font-weight: 200;
  }
  
  .work__github_image-text {
    margin: 10px 0 25px 0;
    height: 300px;
    position: relative;
  }
  
  .bigbox__image-text {
    left: 25px;
    bottom: 25px;
  }
  
  .work__examples {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
     justify-content: space-around; 
    max-width: 1120px;
  }
  
  .work__example {
    width: 200px;
    background-color: orange;
    margin: 10px 25px 10px 25px;
  }
  

  .work__image {
    width: 100%;
    z-index: 1;
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }

.work__github_title {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    transition: .5s ease;
}

.work__content:hover .work__image {
    opacity: 0.3;
}

.work__image:hover .work__github_title {
    opacity:1;
    bottom: 100%;
    align-items: center;
} */

.contact {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.contacts {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
} 

@media screen and (max-width: 992px) {
    header {
        background: #2634cedd;
        color: black;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        color: teal;
    }
}

@media screen and (max-width: 768px) {
    nav a {
        color: teal;
    }
}