* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    background-color: #13293d;
    color: #fff;
}


nav ul {
    float: right;
    margin-right: 20px;
    padding-top: 15px;
}

nav a {
    font-size: 20px;
    display: inline;
    color: #b9C6ae;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: underline;
}

.hokage {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/Hokage.png");
    background-size: cover;
    background-position: center;
}


.section {
    display: flex;
    margin-bottom: 10px;
}

 .subheader{
    font-size: 25px;
    color: black;
    /* border-right: 15px black solid; */
    width: 200px;
} 


 /* p {
    margin: 30px 0;
    font-size: 110%;
    display: flex; 
    font-size: 20px;
    color: black;
    padding-left: 20px;
    border-left: 4px solid black;
    margin-bottom: 20px;
    margin-left: 20%;
} */


.abouts {
    /* margin-bottom: 20px; */
    /* padding: 50px; */
    border-left: 15px solid black;
    /* height: 50px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* .abouts{
    width: 70%;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    border-left: 4px solid black;
    margin-bottom: 20px;
    margin-left: 20%;
} */


.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

.works {
    margin-bottom: 20px;
    border-left: 15px solid black;
    color: white;
}

 .github{
    background-image: URL("../Images/Acidburn.png");
    width: 600px;
    height: 300px;
    background-position: center;
} 

.contact {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.contacts {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
} */



@media screen and (max-width: 992px) {
    header {
        background: #2634cedd;
        color: black;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        color: black;
    }
}

@media screen and (max-width: 768px) {
    nav a {
        color: black;
    }